$mobile-breakpoint: max-width 480px;
$larger-devices: min-width 480px;
$mobile-landscape-breakpoint: max-height 450px;

// Color scheme borrowed from
// https://kuler.adobe.com/6a00d83451ccbc69e201347fc98117970c-400wi-color-theme-3684331/
$home-base-color: #db512f;
$home-text-color: #cbc3a5;

$headingfont: 'pt-sans-narrow', Helvetica, sans-serif;
$bodyfont: 'pontano-sans', Helvetica, sans-serif;

