@import 'pygments';
@import 'normalize';
@import 'bourbon/bourbon';
@import 'neat/neat';

@import "variables";
@import "components";
@import "typography";

@import 'pages/pages';

html, body {
  height: 100%;
  font-family: $bodyfont;
  color: darken($home-text-color, 30%);
}

h1, h2, h3 {
  font-family: 'EB Garamond', Helvetica, sans-serif;
  color: $home-base-color;
  font-family: $headingfont;
}

header {
  nav {
    @include span-columns(12);

    ul { list-style: none;}
    ul li {
      display: inline-block;
    }
  }
}

#main {
  @include span-columns(12);

  h1 {
    text-align: center;
    font-size: 4em;
  }
}

a, a:visited {
  color: $home-base-color;
  text-decoration: none;

  @include transition(color 1s linear);

  &:hover {
    color: darken($home-base-color, 15%);
  }
}
