---
template: resume
---

<div id="introduction">
  <a id="pdfdownload" class="webonly" href="/about/davidpierce-resume.pdf">[Download PDF Version]</a>
  <h1>David Pierce</h1>
  <table class="contact-info">
    <tr>
      <td data-info="title">Software Engineer</td>
      <td data-info="website">
        <a href="http://www.thedahv.com/" target="_blank">www.thedahv.com</a> |
        <a href="https://github.com/TheDahv" target="_blank">github.com/TheDahv</a>
      </td>

    </tr>
    <tr>
      <td data-info="address">4027 52nd Ave SW, Seattle WA 98116</td>
      <td data-info="contact">
        t: <a href="tel:2064883438">206.488.3438</a>
        e: <a href="mailto:david.dean.pierce@gmail.com">david.dean.pierce@gmail.com</a>
      </td>
    </tr>
  </table>
</div>

<hr>

<section id="summary" class="resume-section">
  <h2 class="title" class="resume-section__title">Summary</h2>
  <p>
    I'm a customer-focused leader and full-stack polyglot engineer specializing in web applications development.
    I want to use my talents to help people and make an impact I can be proud of. My ideal environment is
    in a company that shares those values and pursues software as a primary strategy to serve customers.
    I thrive in small teams where I can be close to the customer and close to the code.
  </p>
</section>

<section id="work-experience" class="resume-section">
  <h2 class="resume-section__title">Work Experience</h2>

  <div class="entries">
    <section class="entry">
      <header>
        <h3 class="entry__title">UP Global/Startup Weekend; Seattle, WA &ndash; Technical Director</h3>
        <span class="entry__timeline">June 2012 &ndash; Current</span>
      </header>
      <div class="entry__description">
        <p>
        I lead the engineering team for a global non-profit building entrepreneurial communities.
        As technical director, I serve as:
        </p>
        <ul>
          <li>
            Project Manager &ndash; Conduct customer interviews. Map out
            pain points and opportunities and build product direction. Work with
            stakeholders, builders, and third-party vendors to deliver successful
            projects on time, on budget, and within scope.
          </li>
          <li>
          Team Lead &ndash; Building a healthy team through
          hiring, culture building, and supporting individual engineers.
          </li>
          <li>
          Architect &ndash; Design products across systems powered by connected
          API services.
          </li>
          <li>
          Engineer &ndash; Contribute back-end and front-end code on projects
          from internal tools to public-facing sites.
          </li>
        </ul>
        <p>
          Technologies used include:
        </p>
        <ul>
          <li>Languages: CoffeeScript, JavaScript, Ruby, Sass, Stylus</li>
          <li>Frameworks: Node.js/Express, Rails, Sinatra, Backbone.js, Gulp.js, Grunt.js</li>
          <li>Visual and UX Design Tools: Foundation, Bootstrap, Sketch, Axure, Photoshop</li>
          <li>Databases: MongoDB, Redis</li>
        </ul>
      </div>
    </section>

    <section class="entry">
      <header>
        <h3 class="entry__title">
          WineBid.com; Seattle, WA &ndash; Software Engineer
        </h3>
        <span class="entry__timeline">January 2010 &ndash; June 2012</span>
      </header>

      <div class="entry__description">
        <p>
        Full-stack developer on a small team building public and internal software
        for an Internet wine auction. Technologies and languages include C#, JavaScript,
        CSS, and MSSQL. Frameworks include ASP.NET MVC, ASP.NET Forms, and WPF.
        Notable accomplishments include:
        </p>
        <ul>
          <li>
          Reconstructed site password algorithm with seamless upgrade for
          existing users.
          </li>
          <li>
          Research, design, and development of custom hands-free, no-look inventory
          application supported by API services I designed. Cut warehouse inventory process
          from an entire workday to a couple hours.
          </li>
          <li>
          Built and maintained continuous integration test system with NUnit, WatiN,
          CruiseControl.NET, and NANT to cover customer scenarios.
          </li>
        </ul>
      </div>
    </section>

    <section class="entry">
      <header>
        <h3 class="entry__title">
          Microsoft Corporation; Redmond, WA &ndash; Program Manager
        </h3>
        <span class="entry__timeline">June 2009 &ndash; December 2009</span>
      </header>
      <div class="entry__description">
        <p>Worked on a SharePoint hosted services team. Accomplishments include:</p>

        <ul>
          <li>
          Wrote specifications for service platform monitoring system.
          </li>
          <li>
          Wrote PowerShell scripts to spin up and manage VM instances in a dynamic service platform.
          </li>
          <li>
          Managed Microsoft's 5 month SharePoint Online 2010 Community Tech Preview. Worked with 100's of Microsoft partners to provision sites, collect feedback, and monitor issues on the beta platform.
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>

<section id="side-projects" class="resume-section">
  <h2 class="resume-section__title">Side Projects</h2>

  <div class="entries">
    <section class="entry">
      <header>
        <h3 class="entry__title">
          What's For Dinner?
        </h3>
        <span class="entry__link webonly">
          <a href="http://wfd.thedahv.com/" target="_blank">site</a>
          |
          <a href="https://github.com/TheDahv/wfdinner" target="_blank">source</a>
        </span>
      </header>
      <div class="printonly">
        <ul>
          <li><a href="http://wfd.thedahv.com/" target="_blank">Demo &ndash; http://wfd.thedahv.com</a></li>
          <li><a href="https://github.com/TheDahv/wfdinner" target="_blank">Source &ndash; https://github.com/TheDahv/wfdinner</a></li>
        </ul>
      </div>
      <div class="entry__description">
        <p>
          Uses real-time technologies to assist in weekly meal planning for families.
          Technologies include Angular.js, Node.js, "Angular Material" (the Angular.js implementation of Material design),
          Socket.io, and MongoDB.
        </p>
      </div>
    </section>

    <section class="entry">
      <header>
        <h3 class="entry__title">Eversound</h3>
        <span class="entry__link webonly">
          <a href="https://github.com/TheDahv/eversound" target="_blank">source</a>
        </span>
      </header>
      <div class="printonly">
        <ul>
          <li><a href="https://github.com/TheDahv/eversound" target="_blank">Source &ndash; https://github.com/TheDahv/eversound</a></li>
        </ul>
      </div>
      <div class="entry__description">
        <p>Distributed personal amplication with WebRTC.</p>
        <p>
          Uses modern web browsers to stream a single broadcaster's input to the speakers of connected browser clients.
        </p>
      </div>
    </section>

    <div class="entry">
      <header>
        <h3 class="entry__title">Go Photobox</h3>
        <span class="entry__link webonly">
          <a href="https://github.com/TheDahv/go-photobox" target="_blank">source</a>
        </span>
      </header>
      <div class="printonly">
        <ul>
          <li><a href="https://github.com/TheDahv/go-photobox" target="_blank">https://github.com/TheDahv/go-photobox</a></li>
        </ul>
      </div>
      <div class="entry__description">
        <p>
          Go Photobox is a self-contained photo gallery manager built with Go and ReactJS
          designed to run on a Raspberry Pi as a front-end to an external hard drive.
        </p>
        <p>
          Leveraging Go's ability to cross-compile small binaries, the overall
          goal is to make a "home photobox in a box" to simplify backing up photos
          to our family external USB hard drive.
        </p>
      </div>
    </div>

    <section class="entry">
      <header>
        <h3 class="entry__title">Beer &amp;&amp; Code Seattle</h3>
        <span class="entry__link webonly">
          <a href="http://seattle.beerandcode.org" target="_blank">site</a>
          |
          <a href="https://github.com/BeerAndCodeSeattle/BeerAndCode" target="_blank">source</a>
        </span>
      </header>
      <div class="printonly">
        <ul>
          <li><a href="http://seattle.beerandcode.org" target="_blank">
            Demo &ndash; http://seattle.beerandcode.org
          </a></li>
          <li><a href="https://github.com/BeerAndCodeSeattle/BeerAndCode" target="_blank">
            Source &ndash; https://github.com/BeerAndCodeSeattle/BeerAndCode
          </a></li>
        </ul>
      </div>
      <div class="entry__description">
        <p>
          A web application for a Seattle developer community I founded in October 2010.
          Technologies include node.js, JavaScript, Stylus, Jade, Passport authentication,
          and MongoDB.
        </p>
      </div>
    </section>
  </div>

</section>

<section id="education" class="resume-section">
  <h2 class="resume-section__title">Education</h2>

  <section class="entry">
    <header>
      <h3 class="entry__title">
        Raikes School in Computer Science and Management at the University of Nebraska-Lincoln<br>Management Information Systems Major, May 2009
      </h3>
      <span class="entry__timeline">3.738 GPA</span>
    </header>
    <div class="entry__description">
      <p>Senior/Junior Design Studio Projects</p>
      <ul>
        <li>
        Nanonation: Platform-agnostic media rendering software using Qt framework and C++—Team contributor
        </li>
        <li>
        Jacob North: Closed-loop sales and marketing system using Groovy and Grails—Scrum master
        </li>
        <li>
        Microsoft: Dynamics Great Plains vendor workflow extension using C#—Documentation Lead
        </li>
      </ul>
    </div>
  </section>

</section>
