---
template: home
---

<header>
  <div class="content">
    <div class="text">
      <h1>David Pierce</h1>

      <quote>
        It has long been an axiom of mine that the little things are infinitely the
        most important.

        <span class="attribution">
          Sherlock Holmes in "A Case of Identity", by Sir Arthur Conan Doyle
        </span>
      </quote>
      <h2>Husband - Father - Friend - Software Engineer</h2>
    </div>
  </div>

  <nav>
    <a href="#about">
      <span>About</span>
    </a>

    <a href="/blog/">
      <span>Blog</span>
    </a>

    <a href="/work/">
      <span>Work</span>
    </a>

    <a href="/projects/">
      <span>Projects</span>
    </a>
  </nav>
</header>

<section id="about">
  <hr class="row-spacer">

  <div class="words">
    <div class="content">
      <div class="iLove">
        <section>
          <h1>I Love People</h1>
        </section>
        <section>
          <h1>I Love Software</h1>
        </section>
        <section>
          <h1>I Love Great Teams</h1>
        </section>
      </div>

      <div class="iAm">
        <h1>I am a Software Engineer that thinks you should enjoy your software</h1>

        <p>
          I love building and creating solutions for real problems in the best way possible.
          For me, it is about <span class="smallcaps">Context</span> &amp;
          <span class="smallcaps">Craft</span>. <span class="smallcaps">Context </span> means
          I like to be passionate about my work and mission.
          <span class="smallcaps">Craft </span> means I am committed to
          doing things the right way with talented people.
        </p>

        <p>
          These days, my favorite tools for building are:
        </p>

        <ul>
          <li>JavaScript, CoffeeScript, and Node.js</li>
          <li>Ruby, Sinatra, and Rails</li>
          <li>HTML5, CSS3, and Sass</li>
        </ul>

        <p>
          If you'd like to know more about me, feel free to glance at my
          <a href="/about/resume/">resume</a>, my <a href="/work/">past work</a>,
          or any <a href="/projects/">side-projects</a> I happen to be working on.
          Otherwise, you can check out my <a href="/blog/">blog</a> where I write
          about programming, project management, software I like, and life in general.
        </p>

      </div>
    </div><!-- .content -->

    <aside id="blog-listing">
      <h2>Latest Posts</h2>
      <ul>
      <% _.each(posts.slice(0, 4), function (post) { %>
        <li>
          <a href="/blog/<%- post.slug %>/">
            <%= post.frontMatter.title %>
          </a>
        </li>
      <% }); %>
      </ul>
    </aside><!-- #blog-listing -->
  </div><!-- .words -->

  <hr class="row-spacer">
</section>
