---
template: main
description: !
  Work I've done at current or previous jobs I find interesting or that I am
  particularly proud of.
---

<h1>Work</h1>

<% _.each(data.workitems, function (work) { %>
<section class="workItem">
  <div class="workItem__screenshot">
    <a href="<%= work.linkUrl %>" target="_blank">
    <img src="<%= work.screenshotUrl %>" alt="<%= work.title %>">
    </a>
  </div>
  <div class="workItem__information">
    <h2>
      <a href="<%= work.linkUrl %>" target="_blank">
        <%= work.title %>
      </a>
    </h2>
    <div class="description">
      <%= work.content %>
    </div>
  </div>
</section>
<% }); %>
