<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link rel="canonical" href="https://www.thedahv.com/">

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="The website for David Pierce, a software
  engineer in Seattle. Find my résumé, work, projects, and blog posts.">
  <title>David Pierce - Software Engineer</title>

  <script async src="//use.edgefonts.net/pontano-sans;pt-sans-narrow.js"></script>
</head>
<body id="home">
  <%= contents %>

  <script src="/js/zepto.min.js"></script>
  <script src="/js/home.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-23796327-2', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
