<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link rel="canonical" href="https://www.thedahv.com/<%= slug %>/">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="<%= description %>">
  <title>David Pierce - Software Engineer | <%= pageName %></title>
  <script async src="//use.edgefonts.net/pontano-sans;pt-sans-narrow.js"></script>
</head>
<body class="main">
  <header>
    <div class="title">
      <a href="/">
        <h1>
          David Pierce

          <span class="tag">
            Software Engineer
          </span>
        </h1>
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/"><span>Home</span></a></li>
        <li><a href="/#about"><span>About</span></a></li>
        <li><a href="/blog/"><span>Blog</span></a></li>
        <li><a href="/work/"><span>Work</span></a></li>
        <li><a href="/projects/"><span>Projects</span></a> </li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <%= contents %>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-23796327-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
