<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link rel="canonical" href="https://www.thedahv.com/blog/<%= slug %>/">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %> | David Pierce</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <% if (summary) { %>
  <meta name="description" content="<%= summary %>">
  <% } %>
  <% if (categories && categories.length) { %>
  <meta name="keywords" content="<%= categories %>">
  <% } %>

  <meta property="og:title" content="<%= title %> | David Pierce">
  <meta property="og:description" content="<%= summary %>">
  <meta property="og:url" content="https://www.thedahv.com/blog/<%= slug %>/">
  <% if (og_image) { %>
    <meta property="og:image" content="<%= og_image %>">
  <% } %>

  <script src="//use.edgefonts.net/pontano-sans;pt-sans-narrow.js"></script>
</head>
<body class="post">
  <header>
    <div class="title">
      <a href="/">
        <h1>
          David Pierce

          <span class="tag">
            Software Engineer
          </span>
        </h1>
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/"><span>Home</span></a></li>
        <li><a href="/#about"><span>About</span></a></li>
        <li><a href="/blog/"><span>Blog</span></a></li>
        <li><a href="/work/"><span>Work</span></a></li>
        <li><a href="/projects/"><span>Projects</span></a> </li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <div class="postHeader">
      <h1 class="postHeader__title"><%= title %></h1>
      <span class="postHeader__date"><%= moment.utc(date).format("dddd, D MMMM YYYY") %></span>
    </div>

    <div class="postBody">
      <%= contents %>
    </div>

    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>

  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'dahvblog'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-23796327-2', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
