#home {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

#home header {
  @include row;

  color: $home-base-color;

  height: 100%;

  // Left site - Words
  .content {
    @include span-columns(9);
    width: 61.804%;
    height: 100%;
    margin: 0;

    background-color: #3a3a3a;
    background-image: url('/images/family.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% top;

    position: relative;
    .text {
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: golden-ratio(16px, 7);


      @include media($larger-devices) {
        padding-left: golden-ratio(16px, 3);

        h1, h2, quote {
          @include span-columns(12);
          position: relative;
        }
      }

      h1 {
        font-weight: bold;

        font-size: golden-ratio(16px, 4);
        letter-spacing: -3px;
      }

      quote {
        font-size: golden-ratio(16px, 1);
        padding-right: 1em;

        .attribution {
          font-size: golden-ratio(16px, 0);
          margin-top: golden-ratio(16px, -1);
          display: block;
          font-style: italic;
        }
      }
    }

    @include media($mobile-breakpoint) {
      @include span-columns(12);
      height: 61.804%;

      .text {
        @include span-columns(12);
        background-color: rgba(255, 255, 255, 0.7);
        position: relative;
        top:0; left: 0;
        height: 100%;

        h1, h2, quote {
          @include span-columns(12); 
          text-align: center;
        }

        h1 {
          font-size: golden-ratio(0.8em, 3);
          letter-spacing: -2px;
          margin-top: 0.3em;
          margin-bottom: 0.5em;
        }

        quote {
          text-align: justify;
          padding-left: 1em;
          padding-right: 1em;
          font-weight: 500;
          font-size: golden-ratio(0.8em, 1);
        }

        h2 {
          font-size: golden-ratio(0.8em, 0);
        }
      }
    }

    @include media($mobile-landscape-breakpoint) {
      .text {
        position: relative;
        height: 100%;

        h1 {
          font-size: golden-ratio(0.8em, 2);
          letter-spacing: -2px;
          margin-top: 0.3em;
          margin-bottom: 0.5em;

        }

        quote, h2 {
          font-size: golden-ratio(0.8em, 0);
        }
      }
    }
  }

  // Right side - Nav
  nav {
    @include span-columns(3);
    width: 38.1953%;
    margin: 0;

    height: 100%;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;

    flex-direction: column;

    a {
      cursor: pointer;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;

      font-size: 1.5em;
      text-align: center;

      margin: 0;
      color: #ffffff;
      font-family: $headingfont;

      position: relative;
      span {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: auto;
        height: 1em;
      }
    }

    // Different colors for nav section
    $nav-colors: #1b19a2, #43a30d, #d6d326, #5d43db;
    @for $item from 1 through length($nav-colors) {
      a:nth-of-type(#{$item}) {
        background-color: lighten($home-base-color, (5% * $item));
      }
    }

    @include media($mobile-breakpoint) {
      @include span-columns(12);
      height: 38.1953%;

      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;

      a { margin: 0; }
    }
  }
}

#about {
  @include outer-container;
  height: 100%;

  .words {
    @include row;

    .content {
      @include span-columns(12);

      @include media($mobile-breakpoint) {
        @include span-columns(12);
      }
    }

    #blog-listing {
      @include span-columns(12);

      @include media($mobile-breakpoint) {
        @include span-columns(12);
      }
    }
  }

  @include media($mobile-breakpoint) {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
  @include media($mobile-landscape-breakpoint) {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
}


#about .iLove, #about .iAm {
  @include row;

  section {
    @include span-columns(4);
  }
  @include media($mobile-breakpoint) {
    h1 {
      text-align: center;
    }

    section {
      @include span-columns(12);

      h1 {
        text-align: center;
        margin: 0;
        line-height: 1.5;
      }
    }
  }
}

