body.post, body.main {
  header {
    .title {
      display: block;
      @include outer-container;
    }

    a {
      text-decoration: none;
    }
    h1 {
      position: relative;
      font-size: golden-ratio(16px, 2);

      .tag {
        position: absolute;
        font-size: golden-ratio(16px, 1);
        line-height: golden-ratio(16px, 1);
        height: golden-ratio(16px, 1);

        top: 0; bottom: 0;
        right: 0; padding-right: 1em;
        margin: auto;
      }

      @include media($mobile-breakpoint) {
        text-align: center;
        padding-left: 0;
        .tag {
          position: relative;
          @include row;
        }
      }
    }

    @include media($mobile-breakpoint) {
      h1 {
        text-align: center;
        .tag {
          padding-right: 0;
        }
      }
    }

    nav {
      background-color: $home-base-color;

      ul {
        @include outer-container;

        // Clear unordered-list defaults
        padding: 0;
        height: golden-ratio(1em, 3);
        margin-top: 0;
        margin-bottom: 0;

        @include media($mobile-breakpoint) {
          height: auto;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        list-style: none;

        li {
          flex-grow: 1;
          background-color: $home-base-color;

          @include transition(background-color 0.3s ease-in);
          &:hover {
            background-color: lighten($home-base-color, 3%);
          }

          text-align: center;

          border-left:   1px solid darken($home-base-color, 5%);
          border-bottom: 1px solid darken($home-base-color, 5%);

          &:first-child {
            border-left: none;
          }

          display: flex;
          flex-direction: column;
          a {
            flex-grow: 1;
            width: 100%;
            height: 100%;

            color: #ffffff;
            @include transition(color 0.3s ease-in);
            text-decoration: none;

            &:hover {
              color: lighten($home-text-color, 50%);
            }

            position: relative;
            span {
              position: absolute;
              height: 1em;
              margin: auto;
              top: 0; left: 0; right: 0; bottom: 0;
            }

            @include media($mobile-breakpoint) {
              span {
                height: auto;
                font-size: 0.8em;
                font-weight: 700;
              }
            }
          }

          @include media($mobile-breakpoint) {
            height: golden-ratio(1em, 2);
            a {
              line-height: golden-ratio(1em, 2);
            }
          }
        }
      }

      margin-bottom: golden-ratio(16px, 2);
    }
  }

  .content {
    @include outer-container;
    padding-left: 0.8em;
    padding-right: 0.8em;

    .postHeader {
      .postHeader__title {
        font-size: 3em;
        margin-bottom: 0;
      }
      .postHeader__date {
        font-style: italic;
      }
    }

    .postBody {
      margin-top: 4em;
    }
  }
}

.posts .post {
  .post__title {
    margin-bottom: 0;
  }
  .post__date {
    margin-top: 0;
    font-style: italic;
    font-size: 0.8em;
  }
}

.post .content {
  padding-bottom: 4em;
}
