.project {
  @include row;
  margin-bottom: 4em;

  .project__screenshot {
    @include span-columns(5);

    img {
      width: 100%;
      height: auto;
    }
  }
  
  .project__information {
    @include span-columns(7);

    h2 {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 800px) {
    position: relative;

    .project__screenshot {
      margin-top: 3em;
    }
    .project__information h2 {
      position: absolute;
      top: 0;
    }
    .project__screenshot, .project__information {
      @include span-columns(12);
    }
  }
}
