#resume {
  @include outer-container();
}

#resume #introduction {
  .contact-info {
    width: 100%;

    td[data-info=title] {
      text-transform: uppercase;
    }

    td[data-info=website], td[data-info=contact] {
      text-align: right;
    }
  }
}

#resume .resume-section {
  .entry {
    header {
      @include row();
      .entry__title {
        @include span-columns(9);
        margin-top: 0;
        margin-bottom: 0;
      }
      .entry__timeline, .entry__link {
        @include span-columns(3);
        text-align: right;
        font-style: italic;
        font-size: 0.8em;
      }
    }

  }
}

#resume #pdfdownload {
  float: right;
  margin: 0.67em 0;
  text-decoration: underline;
  font-weight: 700;
}

.printonly {
  display: none;
}

@media print {
  .printonly {
    display: block;
  }

  .webonly {
    display: none !important;
  }

  #resume {
    font-size: 14px;
    color: #333333;


    p, ul li {
      font-size: 14px;
    }

    ul {
      padding-left: 1.5em;
    }
  }
}
