.workItem {
  @include row;
  margin-bottom: 4em;

  .workItem__screenshot {
    @include span-columns(5);

    img {
      width: 100%;
      height: auto;
    }
  }



  .workItem__information {
    @include span-columns(7);

    h2 {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 800px) {
    position: relative;

    .workItem__screenshot {
      margin-top: 3em;
    }
    .workItem__information h2 {
      position: absolute;
      top: 0;
    }
    .workItem__screenshot, .workItem__information {
      @include span-columns(12);
    }
  }
}
